.verticalLine {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba($color: #42567A, $alpha: 0.1);
}

.horizontalLine {
  @extend .verticalLine;
  width: 100%;
  height: 1px;
}

.coloredLine {
  width: 5px;
  height: 120px;
  background: linear-gradient(#3877EE, #EF5DA8);
  position: absolute;
  top: 177px;
}