@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import './components.scss';
@import './swiper.scss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background: #F4F5F9;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
  position: absolute;
  right: 0;

  &::before {
    content: '';
    width: 2px;
    height: 8px;
    left: 50%;
    background-color: #3877EE;
    position: absolute;
    transform: rotate(-45deg);
  }

  &::after {
    content: '';
    width: 2px;
    height: 8px;
    background-color: #3877EE;
    left: 50%;
    position: absolute;
    transform: rotate(45deg);
    bottom: 12px;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
  position: absolute;
  left: 0;

  &::before {
    content: '';
    width: 2px;
    height: 8px;
    right: 50%;
    background-color: #3877EE;
    position: absolute;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    width: 2px;
    height: 8px;
    background-color: #3877EE;
    right: 50%;
    position: absolute;
    transform: rotate(-45deg);
    bottom: 12px;
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}