.swiperContainer {
  padding: 170px 40px 104px 78px;
  height: 100vh;

  @media (max-width: 1439px) {
    padding: 59px 20px 13px 20px;
  }
}

.mySwiper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    font-size: 56px;
    line-height: 67px;
    color: #42567A;
    width: 353px;
    font-weight: 700;

    @media (max-width: 1439px) {
      font-size: 20px;
      width: 123px;
      line-height: 24px;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: 1439px) {
      height: auto;
      border-top: 1px solid #C7CDD9;
      padding-top: 20px;
      position: relative;
    }
  }

  &__theme {
    color: #42567A;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__slides {
    font-size: 14px;
    color: #42567A;
    line-height: 18px;
  }

  &__dataWrapper {
    margin-right: 80px;

    @media (max-width: 1439px) {
      margin-right: 0;
    }
  }

  &__dateRangeWrapper {
    margin: 0 210px 0 139px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1439px) {
      margin: 0;
    }
  }

  &__dateRange {
    font-size: 200px;
    line-height: 160px;
    color: #5D5FEF;
    font-weight: 700;
    margin-top: 96px;

    @media (max-width: 1439px) {
      font-size: 56px;
      margin-top: 56px;
      margin-bottom: 57px;
      line-height: 72px;
    }
  }

  &__year {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #3877EE;
    font-family: 'Bebas Neue', sans-serif;

    @media (max-width: 1439px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    color: #42567A;

    @media (max-width: 1439px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}